html, body {
  overscroll-behavior-y: none;
  width: 100vw;

}

#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100vh;
  overflow: visible;
}



/* force landscape orientation for smaller screens */
.force-landscape {
  /* display: none; */
  /* position: fixed; */
  /* top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000; */
  /* color: #fff; */
  /* justify-content: center;
  align-items: center;
  text-align: center; */
  /* z-index: 9999; */
}

/* @media (orientation: portrait) {
  body {
    transform: rotate(90deg);
    transform-origin: left top;
  }
} */
/* .force-landscape {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 9999;
} */

/* @media (orientation: portrait) {
  .force-landscape {
    display: flex;
  }
}

@media (orientation: landscape) {
  .force-landscape {
    display: none;
  }
} */

