html, body {
  overscroll-behavior-y: none;
  width: 100vw;
  background: #e6e6e6;
}

#root {
  display: flex;
  justify-content: center;
  margin: 0.5rem auto;
  text-align: center;
  width: 100%;
}
